<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Page</title>
</head>
<body>
<h1>Hello there!</h1>

<p id ="start">this is gonna change</p>

<label for="AjaxName">Your name:</label>
<input type="text" id="AjaxName" name ="name"><br>
<label for="AjaxAge">Your age:</label>
<input type="text" id="AjaxAge" name ="age"><br>
<button onclick="sendData()">send</button>

<h2>What you've sent so far:</h2>
<p id = "sent"></p>

<script src="/front_end/script/ajax.js"></script>
</body>
</html>