<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body>
    
    <img src="/image/darth.jpeg" alt="Its Darth Vade">
    <br>
    <form action ="/image-form" method="post" enctype="multipart/form-data">
        <label for = "image">If you wish to challenge the dark lord submit your image:</label><br>
        <input type="file" id = "image" name = "image"><br>
        <input type="submit" value="submit">
    </form>
    <a href="/">This link will take you back!</a>
</body>
</html>
